.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #161625;
}

.not-found-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #cbd5e1;
}

.not-found-image {
  width: 448px;
  height: 295.73px;
}

.not-found-description {
  width: 490px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #94a3b8;
}

.not-found-button {
  padding: 12px 24px;
  width: 88px;
  height: 48px;
  background: #2563eb;
  border-radius: 12px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  outline: none;
  border: 0;
}
