.home-container {
  background: #161625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  padding: 5px 5px 100px;
  min-width: 100%;
}
